@model MTAIntranet.MVC.Models.ViewModels.TicketSubTypeViewModel
@{
    ViewData["Title"] = "Add Ticket SubType";
}

<div class="text-center">
    <h1 class="display-4">Add Ticket SubType</h1>
</div>

<form asp-controller="Tickets" asp-action="AddTicketSubType">

    <label asp-for="@Model.Name"></label>
    <input class="form-control" asp-for="@Model.Name" />
    <span asp-validation-for="@Model.Name"></span>

    <label asp-for="@Model.Category"></label>
    <select class="form-select" asp-for="@Model.Category"
            asp-items="@Model.CategoriesList?.Select(t => new SelectListItem(){Text = t.Name, Value = t.Name})"></select>
    <span asp-validation-for="@Model.Category"></span>

    <label asp-for="@Model.Description"></label>
    <input class="form-control" asp-for="@Model.Description" />
    <span asp-validation-for="@Model.Description"></span>

    <label asp-for="@Model.NeedsApproval"></label>
    <select class="form-control" asp-for="@Model.NeedsApproval">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
    <span asp-validation-for="@Model.NeedsApproval"></span>

    <label asp-for="@Model.Cclist"></label>
    <input class="form-control" asp-for="@Model.Cclist" />
    <span asp-validation-for="@Model.Cclist"></span>

    <button class="btn btn-primary mt-2" type="submit">Add Ticket Subtype</button>
</form>