@model MTAIntranet.SQL.Entities.Ticket
@{
    ViewData["Title"] = "Delete Ticket";
}

<div class="text-center">
    <h1 class="display-4">Delete Ticket</h1>
</div>

@if (Model is not null)
{
    <form asp-controller="Tickets" asp-action="DelTicket">

        @*<input class="form-control" type="hidden" asp-for="@Model.TicketId" />*@

        <div class="row">
            <div class="col">
                <label asp-for="@Model.TicketId"></label>
                <input class="form-control" asp-for="@Model.TicketId" readonly />
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.Impact"></label>
                <input class="form-control" value="@Model.Impact.Description" asp-for="@Model.Impact" readonly />
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.ApprovalState"></label>
                <input class="form-control" value="@Model.ApprovalState.Name" asp-for="@Model.ApprovalState" readonly />
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.DateEntered"></label>
                <input class="form-control" asp-for="@Model.DateEntered" value="@Model.DateEntered.ToString("yyyy-MM-ddTHH:mm")" readonly />
            </div>
            <div class="col">
                <label asp-for="@Model.DateLastUpdated"></label>
                <input class="form-control" asp-for="@Model.DateLastUpdated" value="@Model.DateLastUpdated.ToString("yyyy-MM-ddTHH:mm")" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.EnteredByUser"></label>
                <input class="form-control" asp-for="@Model.EnteredByUser" readonly />
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.ApprovedBy"></label>
                <input class="form-select" asp-for="@Model.ApprovedBy" readonly />
                <span asp-validation-for="@Model.ApprovedBy"></span>
            </div>
            <div class="col"></div>
        </div>

        <button class="btn btn-danger mt-2" type="submit">Delete Ticket</button>
    </form>
}
else
{
    <h2>Ticket ID Not Found</h2>
}