@model MTAIntranet.SQL.Entities.TicketSubType
@{
    ViewData["Title"] = "Delete Ticket SubType";
}

<div class="text-center">
    <h1 class="display-4">Delete Ticket SubType</h1>
</div>

@if (Model is not null)
{
    <form asp-controller="Tickets" asp-action="DelTicketSubType">

        <input class="form-control" type="hidden" asp-for="@Model.TicketSubTypeId" />

        <div class="row">
            <div class="col">
                <label asp-for="@Model.Name"></label>
                <input class="form-control" asp-for="@Model.Name" readonly />
            </div>
            <div class="col">
                <label asp-for="@Model.CategoryId"></label>
                <input class="form-control" asp-for="@Model.CategoryId" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="@Model.Category.Name"></label>
                <input class="form-control" asp-for="@Model.Category.Name" readonly />
            </div>
            <div class="col">
                <label asp-for="@Model.NeedsApproval"></label>
                <input class="form-control" asp-for="@Model.NeedsApproval" readonly/>
            </div>
        </div>
        <button class="btn btn-danger mt-2" type="submit">Delete Ticket SubType</button>
    </form>
}
else
{
    <h2>Ticket SubType ID Not Found</h2>
}