@model IEnumerable<TicketSubType>
@{
    ViewData["Title"] = "Ticket Sub Types";
}

<div class="text-center">
    <h1 class="display-4">Ticket SubTypes</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type ID</th>
            <th>Name</th>
            <th>Associated Ticket Type</th>
            <th>Description</th>
            <th>Needs Approval</th>
            <th>CCList</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (TicketSubType st in Model)
        {
            <tr>
                <td>@st.TicketSubTypeId</td>
                <td>@st.Name</td>
                <td>@st.Category.Name</td>
                <td>@st.Description</td>
                <td>@st.NeedsApproval</td>
                <td>@st.Cclist</td>
                <td><a class="btn btn-secondary" href="UpdateTicketSubType/@st.TicketSubTypeId">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="AddTicketSubType">Add New Ticket SubType</a>