@model IEnumerable<Ticket>
@{
    ViewData["Title"] = "Unapproved Tickets";
}

<div class="text-center">
    <h1 class="display-4">Unapproved Tickets</h1>
</div>

@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Type</th>
                <th>SubType</th>
                <th>Summary</th>
                <th>Approval State</th>
                <th>Approved By</th>
                <th>Date Entered</th>
                <th>Date Last Updated</th>
                <th>Queue</th>
                @*            <th>Agent</th>
            <th>Agent</th>*@
                <th>Agent</th>
                <th>Impact</th>
                <th>SLA Priority</th>
                <th>Status</th>
                <th>Entered By User</th>
                <th>Violated SLA</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ticket t in Model)
            {
                <tr>
                    <td><a href=~/Tickets/@(t.TicketId)>@t.TicketId</a></td>
                    <td>@t.Category.Name</td>
                    <td>@t.SubType.Name</td>
                    <td>@t.Summary</td>
                    <td>@t.ApprovalState.Name</td>
                    <td>@t.ApprovedBy</td>
                    <td>@t.DateEntered.ToString("yyyy-MM-dd HH:mm tt")</td>
                    <td>@t.DateLastUpdated.ToString("yyyy-MM-dd HH:mm tt")</td>
                    <td>@t.Impact.Description</td>
                    <td>@t.EnteredByUser</td>
                    @*<td><a class="btn btn-secondary" href="~/Tickets/UpdateTicket/@t.TicketId">Edit</a></td>*@
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No unapproved tickets found</p>
}
