@model IEnumerable<ResourceMonitor.Data.Website>

@{
    ViewData["Title"] = "Websites";
}

<h1>Websites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEmailsent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeInterval)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEmailsent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeInterval)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
